.medium-zoom--opened .medium-zoom-overlay {
    z-index: 100;
    opacity: 0.5 !important;
}

.medium-zoom-image {
    z-index: 101;
}

img[src*="#mediumsize"] {
    max-height: 600px;
    margin: 0 auto;
 }